body {
    margin: 0 auto;
    background: #ADD8E6;
}

header {
    background-color: #F0FFF0;
    box-shadow: 0 .1em .3em #808080;
    width: 100%;
    height: 5em;
    position: fixed;
    z-index: 4;
    top: 0;
}

#section-register-user {
    margin-top: 8em;
    position: relative;
}

#div-register-user {
    width: 50em;
    height: 25em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.5em;
    flex-direction: column;
    align-items: stretch;
}

#div-register-user input {
    height: 2.5em;
    width: 75%;
    font-size: 1.2em;
    margin-bottom: .7em;
    background-color: #fff;
    padding-left: 20px;
    border: none;
}

#div-register-user button {
    font-size: 16px;
    color: white;
    background-color: #FF8C00;
    border: none;
    padding: 10px 20px;
    height: 45px;
    width: 30%;
}

#div-register-user button:hover {
    cursor: pointer;
    background-color: #FF4500;
}

#check-img {
    width: 5%;
    height: 5%;
}

#confirm-view {
    flex-direction: column;
}

/* Reuse Classes */

.center {
    text-align: center;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opaque-div {
    position: absolute;
    overflow: auto;
	left: 0;
	top: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
	z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 1.5em;
}